<div id="customPopup" class="fixed inset-0 flex items-center justify-center bg-black/50 hidden">
  <div class="bg_dark_blue rounded-xl w-full md:w-64 m-4">
    <div class="popup bg_light_blue shadow-lg rounded-lg p-6 m-2">
      <div class="flex justify-center">
        <img
          src="../assets/svg/robot-quiz-right.svg"
          alt="Surprised child character"
          class="w-32 h-32 object-contain"
        />
      </div>

      <h2 class="text-2xl font-bold text-black mb-6 text-center" id="popupTitle">
        Are you sure you want to <span class="delete-text" id="popupMessage">delete</span> this quiz?
      </h2>
    </div>  
  </div>
</div>